:root {
  --buttonColor: #306eff;
}

body {
  background-color: #193659;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 120px;
  padding: 16px 16px 8px;
  width: 360px;
}

header {
  display: flex;
  padding: 0 0 16px;
}

h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

#content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0;
  position: relative;
}

h2 {
  font-size: 1.25em;
  margin: 0 0 8px;
}

p {
  margin: 0;
}